<section  id="portfolio">
    <div class="container">
        <h2 class="section-heading">护丝</h2>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <img src="../assets/img/portfolio/1.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="../assets/img/portfolio/2.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="../assets/img/portfolio/3.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="../assets/img/portfolio/4.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="../assets/img/portfolio/5.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="../assets/img/portfolio/6.jpg" class="img-responsive" alt="">
        </div>
    </div>
</section>
